.modal {
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

.modal-main {
  padding: 10px;
  position:absolute;
  background: white;
  width: 15%;
  height: auto;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.txt-source {
  padding: 1px;
  margin: 2px;
  width: 100px;
}