* {margin: 0; padding: 0;}

div {
  margin: 20px;
}

ul {
  list-style-type: none;
  width: 200px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li {
  padding: 2px;
}

li:hover {
  background: #eee;
  cursor: pointer;
}

img {
  padding: 25px;
}

.left {
  float: left;
}