* {margin: 0; padding: 0;}

div {
  margin: 10px;
}

ul {
  list-style-type: none;
  width: 250px;
}

li {
  margin: 8px;
}

a {
  color: rgb(104, 102, 102);
  text-decoration: none;
}

a:hover {
  color: rgb(71, 70, 70);
  text-decoration: underline;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li:hover {
  cursor: pointer;
}

.droppable {
  border: 1px solid lightgrey;
  width: 300px;
  border-radius: 6px;
}

.container {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 6px;
  background-color: lightgrey;
}

.handler {
  color: rgb(126, 123, 123);
  margin-right: 2px;
}

img {
  padding: 25px;
}

.left {
  float: left;
}
